<head profile="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=.7, maximum-scale=1">
<!--    <meta name="viewport" content="width=555, initial-scale=1.0">//-->
    <title><%= h(page_title) %></title>
    <%= favicon_link_tag asset_path('images/theme/favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= javascript_include_tag "/assets/jquery-3.1.1.min.js" %>
    <%= javascript_include_tag "/assets/jquery.timeago.js" %>
    <%= javascript_include_tag "/assets/bootstrap.js" %>
    <%= javascript_include_tag "/assets/fusionlib.js" %>
    <%= javascript_include_tag "/assets/sitefunctions.js" %>
    <%= javascript_include_tag "/assets/blogfunctions.js" %>
    <%= javascript_include_tag 'application', src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js", 'data-dojo-config': "usePlainJson: true, isDebug: false" %>
    <%= javascript_tag do %>
        require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"f7ddb03f7d21bc8291d3bab3f","lid":"a3914eb759"}) })
    <% end %>
    <%= javascript_include_tag 'application', src="https://www.googletagmanager.com/gtag/js?id=UA-117403746-1", async: true %>
    <%= javascript_tag do %>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117403746-1');
    <% end %>

    <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fusionlib.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fonts.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style_readable.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/paul-site-mobile.css", :media => 'all' %>
    <%= stylesheet_link_tag "user-styles.css", :media => 'all' %>
    <%= render 'shared/page_header' %>
</head>