<head profile="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=.7, maximum-scale=1">
<!--    <meta name="viewport" content="width=555, initial-scale=1.0">//-->
    <title><%= h(page_title) %></title>

    <%= javascript_include_tag "/assets/jquery-3.1.1.min.js" %>
    <%= javascript_include_tag "/assets/bootstrap.js" %>
    <%= javascript_include_tag "/assets/fusionlib.js" %>
    <%= javascript_include_tag "/assets/sitefunctions.js" %>
    <%= javascript_include_tag "/assets/blogfunctions.js" %>

    <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fusionlib.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fonts.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style_readable.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/paul-site-mobile.css", :media => 'all' %>
    <%= stylesheet_link_tag "user-styles.css", :media => 'all' %>
    <%= render 'shared/page_header' %>
</head>