<head profile="http://gmpg.org/xfn/11">
    <meta name="viewport" content="width=device-width, initial-scale=.7, maximum-scale=1">
<!--    <meta name="viewport" content="width=555, initial-scale=1.0">//-->
    <title><%= h(page_title) %></title>

    <%= javascript_include_tag 'application', src="https://www.googletagmanager.com/gtag/js?id=UA-117403746-1", async: true %>
    <%= javascript_tag do %>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117403746-1');
    <% end %>

    <%= javascript_tag do %>
    	var refTagger = {
	    	settings: {
		    	bibleVersion: "ESV",
			    socialSharing: ["twitter","facebook"],
    			customStyle : {
	    			heading: {
		    			backgroundColor : "#483d3f",
			    		color : "#ffffff"
    				    },
	    			body   : {
		    			color : "#333333",
			    		moreLink : {
				    		color: "#432630"
					    }
    				}
	    		}
		    }
    	};
	    (function(d, t) {
		    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    		g.src = "//api.reftagger.com/v2/RefTagger.js";
	    	s.parentNode.insertBefore(g, s);
	    }(document, "script"));
    <% end %>

    <%= javascript_include_tag "/assets/jquery-3.1.1.min.js" %>
    <%= javascript_include_tag "/assets/bootstrap.js" %>
    <%= javascript_include_tag "/assets/fusionlib.js" %>
    <%= javascript_include_tag "/assets/sitefunctions.js" %>
    <%= javascript_include_tag "/assets/blogfunctions.js" %>

    <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fusionlib.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/fonts.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/style_readable.css", :media => 'all' %>
    <%= stylesheet_link_tag "/stylesheets/theme/paul-site-mobile.css", :media => 'all' %>
    <%= stylesheet_link_tag "user-styles.css", :media => 'all' %>
    <%= render 'shared/page_header' %>
</head>