<div id="fb-root"></div>
<%= javascript_include_tag "/assets/blogfunctions.js", charset: "utf-8", async: false %>
<%= javascript_tag do %>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
<% end %>

<% @articleLink = link_to_permalink(@article, @article.title) %>

<% link = Nokogiri::HTML(@articleLink) %>
<% atag = link.xpath('//a/@href') %>
<% link_array = atag.map {|attr| attr.value} %>
<% final_link = link_array[0] %>
<% enc_link = URI.escape(final_link) %>


<div class="article" id="article-<%= @article.id %>">
    <h2 class='page-header p-name entry-title'>
        <%= @articleLink %>
    </h2>
    <div class='article-meta e-content entry-content article'>
        <%= render 'articles/meta_tags', article: @article %>
    </div>
    <!-- -->
    <div class="article entry-share-div"
         style="border-top: 1px solid #eee;padding: 10px 10px 5px 0px;text-align: center;margin-top: -10px;border-bottom: 1px solid #eee;">
        <div style="padding-left:5px;">
            <div class="fb-share-button"
                 data-href="<%= final_link %>"
                 data-layout="button"
                 data-size="large"
                 data-mobile-iframe="false">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= enc_link %>&amp;src=sdkpreparse"
                   class="fb-xfbml-parse-ignore">Share</a>
            </div>
        </div>

        <div>
            <a class="twitter-share-button"
               href="https://twitter.com/share"
               data-size="large"
               data-text="Check out Pastor's latest blog!"
               data-url="<%= final_link %>"
               data-hashtags="faithfamilychurch,pastorpaul,blog"
               data-via="FFCPastorPaul">
                Tweet
            </a>
        </div>
        <div>
            <a href="mailto:?subject=Check%20out%20the%20latest%20blog%20from%20Pastor%20Andrews&body=<%= final_link %>" class="glyphicon glyphicon-envelope" style="color: #483D3F;font-size: 30px;"></a>
        </div>
    </div>
    <!-- -->
    <div class='article e-content entry-content'>
        <%= render 'articles/protected_article_content', { article: @article } %>
    </div>
</div>