<!DOCTYPE html>
<html lang="en">

<!--<%#= This little regex is all about stripping out the | character if theres nothing after it!  %>//-->
<% if /(\w+('\w+)?)(\s\w+('\w+)?)*\s+\|\s+$/.match(page_title) %>
    <% page_title.gsub!(/\s+\|\s+/, '') %>
<% end %>

<% siteurl = "http://pastorandrews.org/" %>

<%= render 'shared/blog_head' %>

<body>
    <div class="bg-blog-1"></div>
    <div id='page' class='container'>
        <%= render 'shared/nav', siteurl: siteurl %>
        <div class="articlewrapper">
        <% if !@articles.nil? %>
            <div class="page-top blog-top"></div>
            <h3 class="header header-blog"><span>a word</span> from the pastor</h3>
        <% end %>
            <%#= controller.controller_name %>
            <div class='col-sm-8 main-column'>
                <%= yield %>
            </div>
            <div class='col-sm-4 blog-sidebar' id='sidebar'>
                <%= render_sidebars %>
            </div>
        </div>
    </div>

    <%= render 'shared/footer', siteurl: siteurl %>
            <!-- Modal -->
        <div class="modal fade" id="subscription_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                    <form id="subscription_form">
                        <button id="close_button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="header_div form-group">
                            Download this free e-book to discover ten of the most significant<br>
                            chapters of the Bible that every Christian should know and love
                        </div>
                        <div class="form-group">
                            <label for="subscribe_email">Email address</label>
                            <input type="email" class="form-control" name="subscribe_email" id="subscribe_email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="subscribe_fname">First Name</label>
                            <input type="text" class="form-control" name="subscribe_fname" id="subscribe_fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="subscribe_lname">Last Name</label>
                            <input type="text" class="form-control" name="subscribe_lname" id="subscribe_lname" placeholder="Last Name">
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <span>
                            You'll also receive weekly emails to encourage and equip you in your Christian walk.
                            If you change your mind, you can unsubscribe at any time.
                        </span>
                        <button type="button" id="subscribe_button" onclick="sendSubscriptionRequest()" class="btn btn-default">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
