<!DOCTYPE html>
<html lang="en">

    <!--<%#= This little regex is all about stripping out the | character if theres nothing after it!  %>//-->
    <% if /(\w+('\w+)?)(\s\w+('\w+)?)*\s+\|\s+$/.match(page_title) %>
        <% page_title.gsub!(/\s+\|\s+/, '') %>
    <% end %>
    <% siteurl = "http://ffcpastor.com/" %>

    <%= render 'shared/blog_head' %>

    <body class="feature">
        <% if @article.backgroundimage != "" %>
            <img src="<%= @article.backgroundimage %>" class="feature-image" />
        <% else %>
            <div class="bg-blog-1"></div>
        <% end %>
        <div class='container' id='page'>
            <%= render 'shared/nav', siteurl: siteurl %>
            <div class="articlewrapper">
                <div class='col-sm-12'>
                    <%= yield %>
                </div>
            </div>
        </div>
        <%= render 'shared/footer', siteurl: siteurl %>
    </body>

</html>